/* Circle Timer */
.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  /* // axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}
 /* Seperate Circle */
.display-progress .et_pb_text_inner{
  width: 210px;
  float: right;
}
#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666666;
  stroke-width: 2em;
}
#svg {
  position: absolute;
}
#svg #bar {
  stroke: #cc6c6c;
  stroke-width: 1.5em;
}